body {
    margin: 2px;
    padding: 0;
    width: 100vw;
    /* height: 100vw; */
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


.HPgrid {
    background: white;
}
.footer {
    background: #495A67;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer p{
    margin: 0;
}
.footSec {
    padding: 30px;
    width: 100%;
}

.footSec p {
    color: white;
}
.footSec img{
    width: 100px;

}

.footAdd {
    min-width: 220px;
}


.footubwa {
    grid-column: 2;
    grid-row: 1;
}

.footabout {
    grid-column: 3;
    grid-row: 1;
}

.footblog {
    grid-column: 4;
    grid-row: 1;
}

.footsponsors {
    grid-column: 5;
    grid-row: 1;
}

.footresources {
    grid-column: 6;
    grid-row: 1;
}

.footjoin {
    grid-column: 7;
    grid-row: 1;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.navigation {
    display: grid;
    grid-template-columns: auto 5fr;
    grid-gap: 70px;
    padding: 30px;
    background: #e5e5e5;

}

.logo {
    grid-column: 1;
    height: 100%;
}

.logo img {
    vertical-align: bottom;
    width:200px;
}

.headsep {
    grid-column: 2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.headtop {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1;
}

.headtext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1; */
    /* grid-gap:20px; */
}

.smBut {
    background: #C4C4C4;
    border-radius: 100%;
    width:30px;
    height:30px;
    padding: 20px;
    box-shadow: 5px 5px 5px #94a2ac;
    
}
.smBut img{
    align-items: center;
}
.loginBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login {
    grid-column: 3;
    grid-row: 1;
    background: #C85C58;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    box-shadow: 5px 5px 2px #94a2ac;
}

.headbottom {
    /* padding-top:50px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

}

.navBut {
    background: #6B8090;
    min-width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 2px #94a2ac;
    
    
}

.photoBox ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.photoBox li {
    height: 250px;
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    justify-content: space-evenly;

}

.photoBox img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.photoBox {

    padding: 30px;
    height: 150px;

}

.content {
    padding:30px;

}

.eventBox{
    padding-left: 60px;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.eventBut {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#d3817f;
    padding: px 30px;
    width: 200px;
    height: 70px;
    box-shadow: 5px 5px 2px #94a2ac;
}
.eventTxt h4{
    padding-left: 60px;
}

.upcoming {
    grid-column: 1;
    grid-row: 1;
}



nav {
    text-align: left;
    font-size: 2em;
    color: white;
    font-family: braisetto;

}
.login p {
    color: white;
}
.eventBut p {
    color: white;
}
.headbottom p {
    color:white;
}
h3 {
    text-align: left;
    color: black;
}

h2 {
    text-align: left;
}

h4 {
    font-size: smaller;
    color: black;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: pink;
    text-decoration:transparent;
  }